# Large ML model files
FastVLMModel/FastVLM/model/model.safetensors
FastVLMModel/FastVLM/model/fastvithd.mlpackage/Data/com.apple.CoreML/weights/weight.bin
.DS_Store
*.xcuserstate
model/
EmotionClassifierDirect.mlpackage/
CYT.xcodeproj/xcuserdata/tomsmail.xcuserdatad/
/CYT.xcodeproj
/CYT/MiniLMEmbedder.mlpackage
FastVLMModel/FastVLM/model/model.safetensors
*CYT.xcodeproj/*
/MiniLMEmbedder.mlpackage
